<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.pde.api.tools.usescan">
<stringAttribute key="org.eclipse.pde.api.tools.ui.BASELINE_NAME" value=""/>
<stringAttribute key="org.eclipse.pde.api.tools.ui.DESCRIPTION" value=""/>
<stringAttribute key="org.eclipse.pde.api.tools.ui.INSTALL_PATH" value="/opt/users/hudsonbuild/workspace/emffacet-nightly/swtbot/install"/>
<intAttribute key="org.eclipse.pde.api.tools.ui.REPORT_TYPE" value="2"/>
<intAttribute key="org.eclipse.pde.api.tools.ui.SEARCH_MODIFIERS" value="82"/>
<stringAttribute key="org.eclipse.pde.api.tools.ui.SEARCH_SCOPE" value="org\.eclipse\.emf\.facet\..*"/>
<stringAttribute key="org.eclipse.pde.api.tools.ui.TARGET_HANDLE" value="local:1294825523803.target"/>
<intAttribute key="org.eclipse.pde.api.tools.ui.TARGET_KIND" value="3"/>
<stringAttribute key="org.eclipse.pde.api.tools.ui.TARGET_SCOPE" value=".*"/>
<stringAttribute key="org.eclipse.pde.api.tools.ui.XML_PATH" value="/opt/users/hudsonbuild/workspace/emffacet-nightly/api_use_report"/>
</launchConfiguration>
