#novaContent {
	background: url("images/backgroundMain.png") no-repeat;
	padding-top: 210px;
}

#midcolumn {
	width: 600px;
	padding: 0 10px 10px 10px;
}

#rightcolumn {
	width: 300px;
}


h3 {
	clear: both;
}

h7 {
	font-weight: bold;
	padding: 5px;
}

a strong {
	text-decoration: underline;
}

#rightcolumn ul {
	margin-left: 10px;
}

#feature_xtext {
	float: left;
	width: 30%;
	margin-right: 3%;
}
#feature_helios {
	float: left;
	width: 60%;
	margin-right: 3%;
}