abbr, acronym
{
	border-bottom: 1px dotted gray;
	/* removes konqueror's custom abbr style */
	font: inherit;
	letter-spacing: inherit;
}

#midcolumn li {
	margin: 8px;
	list-style-position:outside;	
	list-style-image: url('/eclipse.org-common/themes/Nova/images/separator.png');	
	padding: 5px 10px 5px 5px;
}

.technologyGroup {
	
}
.projectEntry {
	background-color: #0B0528;
	color: white;
	padding: 0.2em;
	border-radius: 0.2em;
}

.projectLogo {
	width: 25%;
	float: left;
}

.projectDescription {
	float: left;
	width: 73%;
	padding-left: 0.3em;
	padding-right: 0.2em;
}
