#midcolumn .homeitem3col ul li.outerli
{
	border-style: none;
}

#midcolumn .homeitem3col ul li div,
#midcolumn .homeitem3col ul li ul li ul li div
{
	float: right;
}

#midcolumn li {
	margin: 8px;
	list-style-position:outside;	
	list-style-image: url('/eclipse.org-common/themes/Nova/images/separator.png');	
	padding: 5px 10px 5px 5px;
}
